Colossus/Default/Battlelands/battlemap.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Generated by XMLBuddy, modified by towi 2003-12-31
    @see net.sf.colossus.client.BattleHex
-->
<!ELEMENT battlemap (battlehex*,startlist?)>
<!ATTLIST battlemap
	terrain NMTOKEN #REQUIRED
	subtitle NMTOKEN #IMPLIED
	tower (True|False) "False"
>

<!ELEMENT battlehex (border*)>
<!ATTLIST battlehex
	terrain (
        Plains|Volcano|Tower|Tree|Brambles|Sand|Bog|Drift|
        Lake|Stone|Abyss ) #REQUIRED
	x (0|1|2|3|4|5) #REQUIRED
	y (0|1|2|3|4|5) #REQUIRED
	elevation (0|1|2|3) "0"
>
<!-- terrain types @see: BattleHex.allTerrains -->

<!ELEMENT border EMPTY>
<!ATTLIST border
	number (0|1|2|3|4|5) #REQUIRED
	type (d|c|s|w|r) #REQUIRED
>
<!-- type @see: BattleHex.allHexsides -->

<!ELEMENT startlist (battlehexref+)>
<!ELEMENT battlehexref EMPTY>
<!ATTLIST battlehexref 
    label (
         A1|A2|A3|
        B1|B2|B3|B4|
       C1|C2|C3|C4|C5|
      D1|D2|D3|D4|D5|D6|
       E1|E2|E3|E4|E5|
        F1|F2|F3|F4    )  #REQUIRED
>
<!-- 
    Hex labels are:
    A1-A3, B1-B4, C1-C5, D1-D6, E1-E5, F1-F4.
    Letters increase left to right; numbers increase bottom to top.    
-->